html{
    background-color: hsl(0, 0%, 8%);
    font-family: "Figtree", sans-serif;
}
.box{
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: 500px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 5%;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 30px;
    }
.description{
    color: white;
    text-align: center;
}
span{
    color: hsl(75, 94%, 57%);
}
.link{
    height: 40px;
    width: 300px;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    margin-left: 50px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5%;

}
